h1{
    color: rgb(73, 112, 196);
    font-size: 2rem;
}

h3{
    text-align: center;
}

.spacer{
    flex: 1 1 auto;
}

.content{
    padding: 24px;
}

mat-toolbar{
    position: relative;
    z-index: 5;
    color-scheme: light dark;
}

mat-sidenav-container{
    height: calc(100vh -64px);
}