<section>
    @if(isLoggedIn){
        <p>Buenas, {{username}}!</p>
        <img
        (click)="greet()" alt="photo" src="https://github.com/DavidAgr5421.png">
        <button (click)="isLoggedIn = false">Sign Out</button>
    } @else{
        <p>Inicia Sesion boludo</p>
        <input>
        <button (click)="isLoggedIn = true">Log In</button>
    }
    <app-games 
    (addFavoriteEvent)="getFavorite($event)"
    username="{{username}}"
    ></app-games>
    @if(favGame != ""){
        <p>Tu juego favorito es {{favGame}}</p>
    }
</section>